<div class="p-grid ui-fluid">
    <div class="p-col-12 p-md-4">
        <div class="ui-inputgroup">
            <input type="text"  [(ngModel)]="usuario.nome" pInputText placeholder="nome">         
        </div>
    </div>
    <div class="p-col-12 p-md-4">
        <div class="ui-inputgroup">
            <input type="email"  [(ngModel)]="usuario.email" pInputText placeholder="email">         
        </div>
    </div>
    <div>
        <button pButton (click)="salvar()" label="Salvar"></button>
    </div>
</div>